<%- include('../partials/header') %>

<h1>All Mongoose Flights</h1>
<ul class="flight-list">
    <% flights.forEach(flight => { %>
        <li class="flight-item">
            <strong>Airline:</strong> <%= flight.airline %><br>
            <strong>Airport:</strong> <%= flight.airport %><br>
            <strong>Flight No.:</strong> <%= flight.flightNo %><br>
            <strong>Departure:</strong> <%= flight.departs.toLocaleString() %><br>
        </li>
    <% }); %>
</ul>

<%- include('../partials/footer') %>